$ld-1: #4cc9f0;
$ld-2: #fa6769;
$ld-3: #f8961e;
$ld-4: #f9c74f;
$ld-5: #90be6d;
$ld-6: #43aa8b;
$ld-7: #c373f9;
$rev: #fff;
$blk: #000;

body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: $blk;
  display: flex;
  flex-direction: column;
  padding: 2ch;

  nav {
    &:before {
      color: $blk;
      content: '\2190 '
    }
    text-align: center;
    padding: .5ch 1ch;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 90ch;
    border-radius: .7ch .7ch 0 0;

    & a {
      color: $blk;
      text-decoration: none;
    }

    &.content {
      background: $ld-1;}

    &.external {
      background: $ld-7;}

    &.discussion {
      background: $ld-2;}

    &.practice {
      background: $ld-3;}

    &.assessment {
      background: $ld-4;}

    &.review {
      background: $ld-5;}

    &.interactive {
      background: $ld-6;}
  }

  ul.patterns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    grid-auto-rows: minmax(100px, 1fr);
    grid-gap: 1ch;
    margin: 0;
    padding: 0;

  li {
    list-style: none;
    padding: 1ch;
    border-radius: .7ch;
    text-transform: capitalize;
    font-size: 110%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &::before {
      display: block;
      padding-bottom: 1ch;
      text-transform: uppercase;
      color: $rev;
      font-size: 60%;
      text-align: right;
    }

    a {
      color: $blk;
      text-decoration: none;


      &:after {
        content: '';
        position: absolute;
        left: 0;
        right:0;
        top:0;
        bottom:0;
      }
    }

    &.content {
      &::before {content: 'Content'; color: mix(black, $ld-1, 50%);}
      background: mix(white, $ld-1, 50%);
      border: solid 1px $ld-1;
      border-top: solid 2ch $ld-1;
      &:hover {background: mix(white, $ld-1, 30%);}
      }
    &.external {
      &::before {content: 'External'; color: mix(black, $ld-7, 50%);}
      background: mix(white, $ld-7, 50%);
      border: solid 1px $ld-7;
      border-top: solid 2ch $ld-7;
      &:hover {background: mix(white, $ld-7, 30%);}
      }
    &.discussion {
      &::before {content: 'discussion'; color: mix(black, $ld-2, 50%);}
      background: mix(white, $ld-2, 50%);
      border: solid 1px $ld-2;
      border-top: solid 2ch $ld-2;
      &:hover {background: mix(white, $ld-2, 30%);}
      }
    &.practice {
      &::before {content: 'practice'; color: mix(black, $ld-3, 50%);}
      background: mix(white, $ld-3, 50%);
      border: solid 1px $ld-3;
      border-top: solid 2ch $ld-3;
      &:hover {background: mix(white, $ld-3, 30%);}
      }
    &.assessment {
      &::before {content: 'Assessment'; color: mix(black, $ld-4, 50%);}
      background: mix(white, $ld-4, 50%);
      border: solid 1px $ld-4;
      border-top: solid 2ch $ld-4;
      &:hover {background: mix(white, $ld-4, 30%);}
      }
    &.review {
      &::before {content: 'review'; color: mix(black, $ld-5, 50%);}
      background: mix(white, $ld-5, 50%);
      border: solid 1px $ld-5;
      border-top: solid 2ch $ld-5;
      &:hover {background: mix(white, $ld-5, 30%);}
      }
    &.interactive {
      &::before {content: 'interactive'; color: mix(black, $ld-6, 50%);}
      background: mix(white, $ld-6, 50%);
      border: solid 1px $ld-6;
      border-top: solid 2ch $ld-6;
      &:hover {background: mix(white, $ld-6, 40%);}
      }
  }
  li.content + li.external {grid-column-start: 1;}
  li.external + li.discussion {grid-column-start: 1;}
  li.discussion + li.practice {grid-column-start: 1;}
  li.practice + li.assessment {grid-column-start: 1;}
  li.assessment + li.review {grid-column-start: 1;}
  li.review + li.interactive {grid-column-start: 1;}

  &.teaser {
    grid-auto-rows: auto;

    li {
      justify-content: flex-start;

      h2 {
        font-size: 110%;
      }

      p {
        text-transform: none;
        font-size: 90%;
      }
    }
  }

}

  &.pattern {
  & header {
    padding: 1ch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 90ch;
    line-height: 1.3;

    & > * {
      margin-left: 2vw;
      margin-right: auto;
      max-width: 90ch !important;
    }


    &::before {
      display: block;
      padding-bottom: 1ch;
      text-transform: uppercase;
      color: $rev;
      font-size: 80%;
      text-align: right;
    }

    &.content {
      &::before {content: 'Content'; color: mix(black, $ld-1, 50%);}
      background: mix(white, $ld-1, 50%);
      }
    &.external {
      &::before {content: 'External'; color: mix(black, $ld-7, 50%);}
      background: mix(white, $ld-7, 50%);
      }
    &.discussion {
      &::before {content: 'discussion'; color: mix(black, $ld-2, 50%);}
      background: mix(white, $ld-2, 50%);
      }
    &.practice {
      &::before {content: 'practice'; color: mix(black, $ld-3, 50%);}
      background: mix(white, $ld-3, 50%);
      }
    &.assessment {
      &::before {content: 'Assessment'; color: mix(black, $ld-4, 50%);}
      background: mix(white, $ld-4, 50%);
      }
    &.review {
      &::before {content: 'review'; color: mix(black, $ld-5, 50%);}
      background: mix(white, $ld-5, 50%);
      }
    &.interactive {
      &::before {content: 'interactive'; color: mix(black, $ld-6, 50%);}
      background: mix(white, $ld-6, 50%);
      }

    h1 {text-transform: capitalize;}
  }

  & main {
    padding: 1ch;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 90ch;
    border-radius: 0 0 .7ch .7ch;
    line-height: 1.3;


    & > * {
      max-width: 70ch;
      margin-left: auto;
      margin-right: auto;
      padding: 0 2vw;
    }

    .definition {
      max-width: 60ch;
      font-size: 120%;
      font-style: italic;

      // &::before {
      //   display: block;
      //   padding-bottom: 2ch;
      //   text-transform: uppercase;
      //   color: $rev;
      //   font-size: 60%;
      //   content: 'definition';
      // }

    }

    &.content {
      background: mix(white, $ld-1, 20%);}

    &.external {
      background: mix(white, $ld-7, 20%);}

    &.discussion {
      background: mix(white, $ld-2, 20%);}

    &.practice {
      background: mix(white, $ld-3, 20%);}

    &.assessment {
      background: mix(white, $ld-4, 20%);}

    &.review {
      background: mix(white, $ld-5, 20%);}

    &.interactive {
      background: mix(white, $ld-6, 20%);}
  }

}
}
