body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: #000;
  display: flex;
  flex-direction: column;
  padding: 2ch;
}
body ul.patterns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  grid-auto-rows: minmax(100px, 1fr);
  grid-gap: 1ch;
  margin: 0;
  padding: 0;
}
body ul.patterns li {
  list-style: none;
  padding: 1ch;
  border-radius: 0.7ch;
  text-transform: capitalize;
  font-size: 110%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body ul.patterns li::before {
  display: block;
  padding-bottom: 1ch;
  text-transform: uppercase;
  color: #fff;
  font-size: 60%;
  text-align: right;
}
body ul.patterns li a {
  color: #000;
  text-decoration: none;
}
body ul.patterns li a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
body ul.patterns li.content {
  background: #4cc9f0;
}
body ul.patterns li.content::before {
  content: "Content";
  color: #dbf4fc;
}
body ul.patterns li.content:hover {
  background: #82d9f5;
}
body ul.patterns li.external {
  background: #fa6769;
}
body ul.patterns li.external::before {
  content: "External";
  color: #fee1e1;
}
body ul.patterns li.external:hover {
  background: #fc9596;
}
body ul.patterns li.discussion {
  background: #f8961e;
}
body ul.patterns li.discussion::before {
  content: "discussion";
  color: #feead2;
}
body ul.patterns li.discussion:hover {
  background: #fab662;
}
body ul.patterns li.practice {
  background: #f9c74f;
}
body ul.patterns li.practice::before {
  content: "practice";
  color: #fef4dc;
}
body ul.patterns li.practice:hover {
  background: #fbd884;
}
body ul.patterns li.assessment {
  background: #90be6d;
}
body ul.patterns li.assessment::before {
  content: "Assessment";
  color: #e9f2e2;
}
body ul.patterns li.assessment:hover {
  background: #b1d299;
}
body ul.patterns li.review {
  background: #43aa8b;
}
body ul.patterns li.review::before {
  content: "review";
  color: #d9eee8;
}
body ul.patterns li.review:hover {
  background: #7bc4ae;
}
body ul.patterns li.interactive {
  background: #c373f9;
}
body ul.patterns li.interactive::before {
  content: "interactive";
  color: #f3e3fe;
}
body ul.patterns li.interactive:hover {
  background: #dbabfb;
}
body ul.patterns li.assessment + li.content {
  grid-column-start: 1;
}
body ul.patterns li.content + li.discussion {
  grid-column-start: 1;
}
body ul.patterns li.discussion + li.external {
  grid-column-start: 1;
}
body ul.patterns li.external + li.interactive {
  grid-column-start: 1;
}
body ul.patterns li.interactive + li.practice {
  grid-column-start: 1;
}
body ul.patterns li.practice + li.review {
  grid-column-start: 1;
}
body.pattern header {
  padding: 1ch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
body.pattern header::before {
  display: block;
  padding-bottom: 1ch;
  text-transform: uppercase;
  color: #fff;
  font-size: 80%;
  text-align: right;
}
body.pattern header.content {
  background: #4cc9f0;
}
body.pattern header.content::before {
  content: "Content";
  color: #dbf4fc;
}
body.pattern header.external {
  background: #fa6769;
}
body.pattern header.external::before {
  content: "External";
  color: #fee1e1;
}
body.pattern header.discussion {
  background: #f8961e;
}
body.pattern header.discussion::before {
  content: "discussion";
  color: #feead2;
}
body.pattern header.practice {
  background: #f9c74f;
}
body.pattern header.practice::before {
  content: "practice";
  color: #fef4dc;
}
body.pattern header.assessment {
  background: #90be6d;
}
body.pattern header.assessment::before {
  content: "Assessment";
  color: #e9f2e2;
}
body.pattern header.review {
  background: #43aa8b;
}
body.pattern header.review::before {
  content: "review";
  color: #d9eee8;
}
body.pattern header.interactive {
  background: #c373f9;
}
body.pattern header.interactive::before {
  content: "interactive";
  color: #f3e3fe;
}
body.pattern header h1 {
  text-transform: capitalize;
}
body.pattern main {
  padding: 1ch;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
body.pattern main > * {
  max-width: 80ch;
}
body.pattern main.content {
  background: #82d9f5;
}
body.pattern main.external {
  background: #fc9596;
}
body.pattern main.discussion {
  background: #fab662;
}
body.pattern main.practice {
  background: #fbd884;
}
body.pattern main.assessment {
  background: #b1d299;
}
body.pattern main.review {
  background: #7bc4ae;
}
body.pattern main.interactive {
  background: #dbabfb;
}
