body {
    background-color: light-dark(var(--page-light), var(--page-dark));
    color: light-dark(var(--shade-50,) var(--shade-700));
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 2ch;

    a { 
       color: light-dark(var(--p10-1-600), var(--p10-1-400)); 

       &:hover {
        color: light-dark(var(--p10-1-700), var(--p10-1-500)); 
       }

       &:visited {
        color: light-dark(var(--p10-7-700), var(--p10-7-500)); 
       }
    }

    


    hr {
        color: light-dark(var(--blk), var(--rev));
    }

    header#top{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        h1 {
            margin-bottom: .3ch;
        }

        nav {
            align-self: flex-end;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-transform: uppercase;
            padding: 0.8ch;
            align-content: center;
            justify-content: center;
            align-items: stretch;
            text-transform: uppercase;



            a {
                padding: .5em .5em;
                border-radius: .2em;
                text-decoration: none;
                color: light-dark(var(--page-dark), var(--page-light));
                background-color: light-dark(var(--shade-150), var(--shade-600));
                &:hover, &:focus { background: light-dark(var(--shade-300), var(--shade-500));}
                &.active {background-color: light-dark(var(--shade-150), var(--shade-150));}
                margin: .5ch;

            }
        }
    }
}