h1, h2, h3, h4, h5, h6, p, li  {
    font-size: clamp(var(--fluid-type-min, 1rem), calc(1rem + var(--fluid-type-target, 3vw)),var(--fluid-type-max, 1.2rem));
}

h1 {
    --fluid-type-min: 2.5rem;
    --fluid-type-max: 6rem;
    --fluid-type-target: 5vw;   
    line-height: 1;
  }
  
  h2 {
    --fluid-type-min: 1.5rem;
    --fluid-type-target: 1.2vw;   
    --fluid-type-max: 2rem;
    line-height: 1;
  }
  
  h3 {
    --fluid-type-min: 1.5rem;
    --fluid-type-max: 2.5rem;
    line-height: 1;

  }
  
  h2,
  h3 {
    max-width: 30ch;
  }      

  h4 {
    --fluid-type-min: 1.1rem;
    --fluid-type-max: 1.4rem;
  }

  p, li {
    line-height: 1.4;
  }

  .light {
    font-weight: 300;
    letter-spacing: .1ch;
    color: var(--rev);
    text-align: center;
  }