article.page {
    display: grid;
    grid-template-columns: 5vw 1fr minmax(200px, 80ch) 1fr 5vw;

    & > * {
        grid-column-start: 3;
        max-width: 80ch;
    }

    p:has(img) {
        grid-column: 2 / span 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }

    img {
        width: 80vw;
    }

    blockquote {
        grid-column: 2 / span 3;
        display: grid;
        grid-template-columns: minmax(1ch, 1fr) 4fr minmax(1ch, 1fr);
        font-size: 200%;
        font-style: italic;
        border-top: 2px dotted var(--p10-7-juicy);
        border-bottom: 2px dotted var(--p10-7-juicy);
        background-color: light-dark(var(--p10-7-200), var(--p10-7-700));
        margin: 0;
        padding: 1em;
        max-width: 80ch;
        
        p {
            grid-column-start: 2;
            max-width: 80ch;
        }
        
    }

    li {
        padding: .4ch;
    }

    div.creative {
        padding: 2ch;
        background: light-dark(var(--p10-6-400), var(--p10-6-600));
        border-top: 4px solid light-dark(var(--p10-6-400), var(--p10-6-800));
        border-bottom: 4px solid light-dark(var(--p10-6-400), var(--p10-6-800));

        & p {
            display: block;
        }

        & > * {
            padding: 1ch;
        }

        & a:has(img) {
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        & img {
            width: 100%;
            padding: 1ch;
        }
    }

    table {
        border-collapse: collapse;


        col {
            width: 30%;
        }

        tr {
            border-bottom: 1px solid light-dark(var(--blk), var(--rev));
        }

        tr:has(th) {
            border: none;
            background: none !important;
        }

        tr:nth-child(1) {background: light-dark(var(--p10-1-400), var(--p10-1-700));}
        tr:nth-child(2) {background: light-dark(var(--p10-7-400), var(--p10-7-700));}
        tr:nth-child(3) {background: light-dark(var(--p10-2-400), var(--p10-2-700));}
        tr:nth-child(4) {background: light-dark(var(--p10-3-400), var(--p10-3-700));}
        tr:nth-child(5) {background: light-dark(var(--p10-4-400), var(--p10-4-700));}
        tr:nth-child(6) {background: light-dark(var(--p10-5-400), var(--p10-5-700));}
        tr:nth-child(7) {background: light-dark(var(--p10-6-400), var(--p10-6-700));}

        td {
            font-size: 1.1em;
            padding: 1.5ch 1ch;

        }
    }

}