ul.pattern-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    grid-auto-rows: minmax(100px, 1fr);
    grid-gap: 1ch;
    margin: 0;
    padding: 0;

  li {
    list-style: none;
    padding: 1ch;
    border-radius: .7ch;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none; /* Hidden by default */
  
    &.show {
        display: flex;
    }

    header {
        border-bottom: 1px solid light-dark(var(--blk), var(--rev));

        & p {
            font-size: 120%;
        }
    }

    & ul.details {
        margin: 2ch 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-between;
        border-bottom: 1px solid light-dark(var(--blk), var(--rev));

        li {
            padding: 0 0 2ch;            ;
            display: flex;
            flex-direction: column;
            span {
                text-transform: uppercase;
                font-size: 60%;
                font-weight: bold;
            }
            text-transform: capitalize;
        }
    }

    main > p {
        margin-top: 3ch;
    }

    main {
        display: flex;
        flex-direction: column;

        ul {
            display: block;
            li {
                list-style-type: disc;
                display: list-item;
            }
        }

        ol {
            display: block;
            li {
                list-style-type:decimal;
                display: list-item;
            }
        }
    }

    button {
        text-transform: uppercase;
        border: none;
        padding: .5ch 1ch;
        border-radius: .7ch;
        margin: .5ch;
        cursor: pointer;
        width: fit-content;
        align-self: end;
        background-color: color-mix(in srgb, var(--blk) 10%, transparent);
        color: light-dark(var(--blk), var(--rev));
    }

    h2 {
        text-transform: capitalize;
        font-size: 110%;
    }

    h3{
        text-transform: capitalize;
        margin-bottom: 1ch;
    }


    &.content {
        background-color: light-dark(var(--p10-1-400), var(--p10-1-600));
    }

    &.external {
        background-color: light-dark(var(--p10-7-400), var(--p10-7-600));
    }

    &.discussion {
        background-color: light-dark(var(--p10-2-400), var(--p10-2-600));
    }
    &.practice {
        background-color: light-dark(var(--p10-3-400), var(--p10-3-600));
    }
    &.assessment {
        background-color: light-dark(var(--p10-4-400), var(--p10-4-600));
    }
    &.review {
        background-color: light-dark(var(--p10-5-400), var(--p10-5-600));
    }
    &.interactive {
        background-color: light-dark(var(--p10-6-400), var(--p10-6-600));
    }
    }
}