:popover-open {
    display: flex;
    flex-direction: column;
    border-radius: 1ch;
    width: 60vw !important;
    height: 70vh !important;
    overflow-y: scroll;
    border: 0;
    padding: 1.5rem;

    h2 {text-transform: capitalize;}

    .sr-only:not(:focus):not(:active) {
      clip: rect(0 0 0 0); 
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap; 
      width: 1px;
    }
    
    .close-btn {
      border: none;
      background: none;
      justify-self: end;
      font-size: 1.5rem;
      border-radius: 0.8rem;
      
      [aria-hidden] {
        filter: grayscale(0%) brightness(0);
      }
      
      &:hover,
      &:focus {
        background: color-mix(in srgb, var(--blk) 10%, transparent);
        filter: none;
      }
    }

    &.content {
      background: light-dark(var(--p10-1-300), var(--p10-1-700));
    }

    &.external {
      background: light-dark(var(--p10-7-300), var(--p10-7-700));
    }

    &.discussion {
      background: light-dark(var(--p10-2-300), var(--p10-2-700));}

    &.practice {
      background: light-dark(var(--p10-3-300), var(--p10-3-700));}

    &.assessment {
      background: light-dark(var(--p10-4-300), var(--p10-4-700));}

    &.review {
      background: light-dark(var(--p10-5-300), var(--p10-5-700));}

    &.interactive {
      background: light-dark(var(--p10-6-300), var(--p10-6-700));}
    
  &::backdrop {
    background-color: rgba(0,0,0,0.75);
  }
}
